{% extends 'base.html' %}

{% block content %}

    <div class="container">
	<h1>Frequently Asked Questions</h1>
	<p>Don't see the answer to your question? <a href="mailto:info@casmlab.org">Send us your question</a>. </p>
	
	<h2>What is Follow Your Leaders?</h2>
	<p>Follow Your Leaders is a research project about how elected officials use social media, especially Twitter. We collect tweets from Twitter and combine them with data from other sources like roll call votes, fundraising efforts, and the U.S. Census to show trends and differences in how politicians use social media. We made the site so you could see what politicians are up to as well.</p>

	<h2>How do you get the data?</h2>
	<p>We've been collecting data since the summer of 2011 using the <a href='https://dev.twitter.com/streaming/overview'>Twitter Streaming API</a>. We currently use a Python application to retrieve data from Twitter, parse the data, and store it in MongoDB databases. We have used a couple different apps to gather data, and what you see here was collected using <a href='https://github.com/casmlab/pyTwitterCollector'>pyTwitterCollector</a>.</p>
	<p>We also pull data from other public sources including</p>
	<ul>
	  <li><a href='http://congress.org/'>Congress.org</a></li>
	  <li><a href='https://www.govtrack.us/'>govtrack.us</a></li>
	  <li><a href='http://www.voteview.com/'>Voteview.com</a></li>
	</ul>

	<h2>What is an n-gram?</h2>
	Technially, an n-gram is a contiguous sequence of n items from a given snippet of text or speech. For our purposes, n-grams are words or phrases that appear in tweets, such as "Obamacare" (a 1-gram) or "tax hike" (a 2-gram). The n-gram viewer shows how often that n-gram appears in our dataset, or in the subset you've selected, over time.
	<br></br>

    </div>

{% endblock %}



