{% extends 'base.html' %}

{% block content %}

<div class="wrap container">

<!-- 	<h1>Frequently Asked Questions</h1>
	<p>Don't see the answer to your question? <a href="mailto:hemphill-research@umich.edu">Send us your question</a>. </p> -->
	
	<h2>What is Follow Your Leaders?</h2>
	<p>Follow Your Leaders is a research project about how elected officials use social media, especially Twitter. We collect tweets from Twitter and combine them with data from other sources like roll call votes, fundraising efforts, and the U.S. Census to show trends and differences in how politicians use social media. We made the site so you could see what politicians are up to as well.</p>

	<h2>How do we get the data?</h2>
	<p>We've been collecting data since the summer of 2011 using the <a href='https://developer.twitter.com/en/docs'>Twitter API</a>. We currently use a Python application to retrieve data from Twitter, parse the data, and store it in MongoDB databases. We have used a couple different apps to gather data, and what you see here was collected using <a href='https://github.com/casmlab/purpletag'>purpletag</a>.</p>
	<p>We also pull data from other public sources including</p>
	<ul>
	  <li><a href='http://congress.org/'>Congress.org</a></li>
	  <li><a href='https://www.govtrack.us/'>govtrack.us</a></li>
	  <li><a href='http://www.voteview.com/'>Voteview.com</a></li>
	</ul>

    <h2>Why isn't every tweet included?</h2>
    <p>A few reasons explain why you don't see tweets you think you should. First, though we've been collecting tweets for years, we haven't been able to move our archives over to the site's database yet. The data we're displaying now comes from a Twitter Search API call which returns only the last 3200 tweets for each user. For many members of Congress, 3200 tweets is a complete history, but for some, like Speaker Paul Ryan, it's only a fraction of their tweets. Second, we are human and make mistakes. Sometimes that means that we missed a tweet. If you know one (or a bunch) is missing, let us know. We will try to get it added ASAP. Third, we are not showing live updates, and tweets from the last week or so have not been processed. We plan to make the data work in real-time but haven't gotten to that step yet.</p>

	<h2>Who's working on Follow Your Leaders?</h2>
	<p><a href="http://libbyh.com">Libby Hemphill</a>, an associate professor of information at the <a href="http://umsi.umich.edu">University of Michigan School of Information</a>, is the leader of the project. She started it while on the faculty at <a href="http://www.iit.edu">Illinois Institute of Technology</a> where students in computer science and humanities helped with early designs. The version you see was developed by UMSI Master's Students&mdash;<a href="http://paiju.us" target="_new">Paiju Chang</a> built much of the site with an assist from <a href="http://www.angelaschopke.com/" target="_new">Angela Sch&ouml;pke</a> wrangling data.

    <h2>How do I give feedback or submit a bug?</h2>
    <p>Please <a href="https://github.com/casmlab/followyourleaders_live/issues">add or comment on an issue on our GitHub repository</a> if you notice something wrong or have a suggestion.</p>
    </div>

{% endblock %}
