{% extends 'base.html' %}
{% block content %}
<body>
    <div class="wrap">
        <div id="allplot">
        <div id='filter_btm_div'>
            <input type="button" id="filter_btm" value="Filter">
        </div>
            <!-- filter -->
            <div id="search" class='searchCompare' action="" name="search">
                <div style="margin:10px">
                    <table style="width:100%">
                        <tr>
                        <td><h2>Show Details</h2></td>
                        <td align="right"><input type="button" id="back_btm" value="back"></td>
                        </tr>
                    </table>
                    <table class='filter_table'>
                        <tr>
                            <td><label for="party_categories"><b>Party: </b></label></td>
                            <td><select name="party_categories" id="party_categories"  align="right" </select></td>
                        </tr>
                        <tr>
                            <td><label for="chamber_categories"><b>Chamber: </b></label></td>
                            <td><select name="chamber_categories" id="chamber_categories"  align="right"></select></td>
                        </tr>
                        <tr>
                            <td><label for="leader_select"><b>Name: </b></label></td>
                            <td><select name="leader_select" id="leader_select" class="leader-tittle"  align="right">
                                <option value='default'>Select Leader ...</option>
                            </select></td>
                        </tr>
                    </table>
                    <table class='filter_table'>
                        <tr id="toggle_chart">
                                <td><b>Compare with another leader?</b></td>
                                <td><input type="checkbox" data-toggle="toggle" data-size="small" data-on="Yes" data-off="No" class="cd-filter-trigger" id='compare_choice'></td>
                        </tr>
                    </table>
                    <table class='filter_table sec_leader'>
                        <tr>
                            <td> <label for="party_categories_sec"><b>Party: </b></label></td>
                            <td><select name="party_categories_sec" id="party_categories_sec"></select></td>
                        </tr>
                        <tr>
                            <td> <label for="chamber_categories_sec"><b>Chamber: </b></label></td>
                            <td> <select name="chamber_categories" id="chamber_categories_sec"></select></td>
                        </tr>
                        <tr>
                            <td><label for="leader_select_sec"><b>Name: </b></label></td>
                            <td><select name="leader_select_sec" id="leader_select_sec" class="leader-tittle"  align="right">
                                <option value='default'>Select Leader ...</option>
                            </select></td>
                        </tr>
                    </table>
                    <div class='filter_table'>
                        <input type="button" id="submit" value="submit">
                    </div>
                </div>
            </div>
            <!-- plot -->
            <div id='plot' class='section'>
            <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
                <!-- bio -->
                <div class="graph-wrapper fullscreen text-capitalize">
                    <!-- if compare mode -->
                    {% if ((basic1 is defined) and ("name" in basic1) )%}
                    <div  class='row bioContainer' >
                        <div class='col-md-6' style='text-align:center;margin-bottom: 20px;'>
                            <div class='leaderbio'>
                                <img src="{{basic0['photo_url']}}" alt="img0" class="img-thumbnail">
                                <h2 class='text-capitalize' >{{basic0['chamber']}}. {{basic0['name']}}</h2>
                                <a id='recent_tweet_1' class='recent_tweet' href="#">10 recent tweets</a>
                                <table class='leaderTable'>
                                    <tr>
                                        <td>twitter account</td>
                                        <td>  <a target='_blank' href="https://twitter.com/{{basic0['twitter_name']}}"">@{{basic0['twitter_name']}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Chamber</td>
                                        <td>{{basic0['chamber_name']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Party</td>
                                        <td>{{basic0['party']}}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{basic0['state']}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class='col-md-6' style='text-align:center;margin-bottom: 20px;'>
                            <div class='leaderbio'>
                                <img src="{{basic1['photo_url']}}" alt="img0" class="img-thumbnail">
                                <h2 class='text-capitalize' >{{basic1['chamber']}}. {{basic1['name']}}</h2>
                                <a id='recent_tweet_2' class='recent_tweet' href="#">10 recent tweets</a>
                                <table class='leaderTable'>
                                    <tr>
                                        <td>twitter account</td>
                                        <td>  <a target='_blank' href="https://twitter.com/{{basic1['twitter_name']}}"">@{{basic1['twitter_name']}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Chamber</td>
                                        <td>{{basic1['chamber_name']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Party</td>
                                        <td>{{basic1['party']}}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{basic1['state']}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>        
                    </div>      
                    <!-- Single mode -->
                    {% else %}
                    <div class='row bioContainer'>
                        <div class='leaderbio'>
                            <div  class='col-lg-6' style=' vertical-align: middle;margin-bottom: 20px;'>
                                <img src="{{basic0['photo_url']}}" alt="img0" class="img-thumbnail">
                            </div>
                            <div class='col-lg-6' style='vertical-align: top;padding:30px'>
                                <h2 class='text-capitalize' >{{basic0['chamber']}}. {{basic0['name']}}</h2>
                                <a id='recent_tweet_1' class='recent_tweet' href="#">10 recent tweets</a>
                                <table class='leaderTable'>
                                    <tr>
                                        <td>twitter account</td>
                                        <td>  <a target='_blank' href="https://twitter.com/{{basic0['twitter_name']}}"">@{{basic0['twitter_name']}}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Chamber</td>
                                        <td>{{basic0['chamber_name']}}</td>
                                    </tr>
                                    <tr>
                                        <td>Party</td>
                                        <td>{{basic0['party']}}</td>
                                    </tr>
                                    <tr>
                                        <td>State</td>
                                        <td>{{basic0['state']}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <a class='scrollbtn scroller' href="#section03"><span></span>Scroll</a>        
                </div>
                <!-- Hashtags plot -->
                <div class="graph-wrapper fullscreen" >
                    <center><h1>Most Frequently Tweeted Hashtags</h1></center>
                    <div id="hashtags_chart"></div>
                    <div id='slide3' class='slide'>
                        <table class='slide_header_table' id='slide_header_table_3'>
                            <tr>
                                <td align="left"><input type="button" id="close_btn_3" class='close_btn' value="X"></td>
                                <td align="center" id='slide_title_3'><h2> Tweets' Detail </h2></td>
                            </tr>
                        </table>
                    </div>
                     <a class='scrollbtn scroller' href="#section03"><span></span>Scroll</a>
                </div>
                
                 <!-- time series plot -->
                <div class="graph-wrapper fullscreen">
                    <center><h1>Number of Tweets Per Day</h1></center>
                    <div id="timelines_chart"></div>
                    <div id='slide1' class='slide'>
                        <table class='slide_header_table' id='slide_header_table_1'>
                            <tr>
                                <td align="left"><input type="button" id="close_btn_1" class='close_btn' value="X"></td>
                                <td align="center" id='slide_title_1'><h2> Tweets' Detail </h2></td>
                            </tr>
                        </table>
                    </div>
                    <a class='scrollbtn scroller' href="#section03"><span></span>Scroll</a>
                </div>
                <!-- urls plot -->
                <div class="graph-wrapper fullscreen">
                    <center><h1>Most Frequently Tweeted URLs</h1></center>
                    <div id="urls_chart"></div>
                    <div id='slide2' class='slide'>
                        <table class='slide_header_table' id='slide_header_table_2'>
                            <tr>
                                <td align="left"><input type="button" id="close_btn_2" class='close_btn' value="X"></td>
                                <td align="center" id='slide_title_2'><h2> Tweets' Detail </h2></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
      <!-- Modal -->
      <div class="modal fade" id="recent_tweet_model" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">10 Recent tweets</h4>
            </div>
            <div id='recent_tweet_model_text' class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>


    <!-- footer -->
   <footer class="footer">
        <div class="container">
            <div class="col-lg-3 col-md-6">
                <h4>Follow</h4>
                <ul>
                    <li><a href="http://www.github.com/casmlab">GitHub</a></li>
                    <li><a href="http://www.twitter.com/casmlab">Twitter</a></li>
                </ul>
                <p>Built with Bootstrap.</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Contact</h4>
                <ul>
                    <li><a href="mailto:info@casmlab.org">info@casmlab.org</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- load drawing  function js files -->
    <script type="text/javascript" src="/static/js/visualization/draw_Timelines.js?version=03192018"></script>
    <script type="text/javascript" src="/static/js/visualization/draw_URLs.js?version=03192018"></script>
    <script type="text/javascript" src="/static/js/visualization/colorbrewer.min.js?version=03192018"></script>
    <script type="text/javascript" src="/static/js/visualization/draw_Hashtags.js?version=03192018"></script>
    <script type="text/javascript" src="/static/js/visualization/data_Format.js?version=03192018"></script>
    <!-- making drop down file -->
    <script type="text/javascript" src="/static/js/visualization/makeDD.js?version=03152018"></script>    
    <!-- load execute function -->
    <script>
    
    ////////////////////////////////// Load data//////////////////////////////////
    //https://stackoverflow.com/questions/37447343/d3-js-starting-animations-when-a-section-is-in-view
    //$( "#datestart" ).datepicker();
    //$( "#dateend" ).datepicker();


    
    // define height for each page
    $(".fullscreen").each(function(){
        if ($(this).height()<window.innerHeight-170) {
            $(this).css("height",window.innerHeight-170)
        } else {
            $(this).css("height", $(this).height()+120)
        }
    });


    // temp parameter
    let searchParams = new URLSearchParams(window.location.search)
    var compare=(searchParams.get('leader0') && searchParams.get('leader1')) ? true:false;

    // define color panal:
    color_panal={
        'Demo1': {
            'main':'#039ADA',
            'light':'#e5f6fd',
            'word_color':['#039ada','#42a7dc','#60b5df','#78c3e1','#8ed2e3','#a2e1e5','#b4f0e7']
        },
        'Demo2': {
            'main':'#3340DA',
            'light':'#e5f6fd',
            'word_color':['#1c24da','#4946da','#6164db','#7181da','#7e9fd9','#86bdd8','#8cdad6']
        },
        'Repu1':{
            'main':'#d8171e',
            'light':'#f7d0d2',
            'word_color':['#d8171e','#bd1427','#a2112e','#870e33','#6e0c38','#520a3c','#360940']
        },
        'Repu2':{
            'main':'#e06b85',
            'light':'#FEB692',
            'word_color':['#e06b85','#e66c75','#ea6e6b','#ef6f5c','#f3714e','#f6723d','#fa742b']
        },

        'Inde1':{
            'main':'#FFE985',
            'light':'#FA742B',
            'word_color':['#ffe985','#ffd776','#ffc567','#ffb258','#ff9e49','#fd8a3a','#fa742b']
        },
        'Inde2':{
            'main':'#CAC531',
            'light':'#45B649',
            'word_color':['#cac531','#b7c336','#a4c13b','#91be3e','#7bbc42','#63b946','#45b649']
        }

    };

    /// function to capitalize the string
    function capitalizeFirstLetter(string) {return string.charAt(0).toUpperCase() + string.slice(1);}
    
    // data for making dd
    all_filter={{all_name_id|tojson}};
    data_Timelines_Raw={{timelines_0|tojson}};
    data_URLs_Raw={{urls_0|tojson}};
    data_Hashtags_Raw={{hashtags_0|tojson}};
    leader0={{basic0|tojson}};

    /////////////////start:  data formatting /////////////////////////////////////////
    // define time formate
    parseDate = d3.time.format('%Y-%m-%d').parse;
    data_Timelines=format_timelines_data(data_Timelines_Raw)
    data_URLs=format_urls_data(data_URLs_Raw)
    data_Hashtags=format_hashtags_data(data_Hashtags_Raw)
    var leader1;

    // if it is a compare mode
    if (compare==true) {
        data_Timelines_Raw_2={{timelines_1|tojson}};
        data_Hashtags_Raw_2={{hashtags_1|tojson}};
        data_URLs_Raw_2={{urls_1|tojson}};
        leader1={{basic1|tojson}};
        data_Timelines_2=format_timelines_data(data_Timelines_Raw_2);
        data_URLs_2=format_urls_data(data_URLs_Raw_2);
        data_Hashtags_2=format_hashtags_data(data_Hashtags_Raw_2);
    }

    ///////////////////////// making Dropdown in the filter //////////////////////////////////

    generatedropdown(all_filter, '#chamber_categories','#party_categories','#leader_select')
    generatedropdown(all_filter, '#chamber_categories_sec','#party_categories_sec','#leader_select_sec')

    // add event listener
    // toggle listener
    $("#compare_choice").change(function() {
        if(this.checked) {
            $('.sec_leader').css('display','block')
        }else {
            $('.sec_leader').css('display','none')
        }
    });


    $('#submit').click(function() { 
        // single mode
        if ($("#compare_choice")[0].checked==false) {
            
            if ($('#leader_select').val()=='default'){
                alert('you must choose one leader')
            }
            else{
                document.location = '/leaders?leader0='+$('#leader_select').val();
            }

        } else {
            if ($('#leader_select').val()=='default' || $('#leader_select_sec').val()=='default' ){
                alert('you must choose two leaders to compare')
            }
            else{
                document.location = '/leaders?leader0='+$('#leader_select').val()+'&leader1='+$('#leader_select_sec').val();
            }
        }
        
    } );

    $('#filter_btm').click(function() { $('#search').css('transform','translateX(0)')})
    $('#back_btm').click(function() { $('#search').css('transform','translateX(-100%)')})
    // close btns listener
    $('.close_btn').click(function() {
        $(this).closest('.slide').css('opacity', '0');
        $(this).closest('.slide').css('right', '-50%')
    })


    ///////////////////////////////////////////////////// define plot setting /////////////////////////////////////////////
    
    // define plot size
    var margin = { top: 70, right: 70, bottom: 50, left: 100 },
        width = $('#timelines_chart').width() - margin.left - margin.right;
    var height = $(window).height()-margin.top - margin.bottom-300;

    ///////////////////////////////////////////////// define right left user //////////////////////////////////////////////

    // change it later
    user_color=[color_panal['Demo1'],color_panal['Repu1']];

    // single mode
    if (compare==false) {
        if (leader0['party']=="Republican") {
            user_color=[color_panal['Repu1'],color_panal['Repu1']];
        } else if (leader0['party']=="Democrat") {
            user_color=[color_panal['Demo1'],color_panal['Demo1']];
        } else {
             user_color=[color_panal['Inde1'],color_panal['Inde1']];
        }
    }
    else {
        // compare mode
        if (leader0['party']==leader1['party']) {
            if (leader0['party']=="Republican") { user_color=[color_panal['Repu1'],color_panal['Repu2']] }
            else if (leader0['party']=="Democrat") { user_color=[color_panal['Demo1'],color_panal['Demo2']] }
            else { user_color=[color_panal['Inde1'],color_panal['Inde2']] }

        } else {
           leader0_color = leader0['party']=="Republican" ? color_panal['Repu1'] : leader0['party']=="Democrat" ? color_panal['Demo1'] : color_panal['Inde1']
           leader1_color = leader1['party']=="Republican" ? color_panal['Repu1'] : leader1['party']=="Democrat" ? color_panal['Demo1'] : color_panal['Inde1']
           user_color=[leader0_color,leader1_color];
        }
    }

    $('.popup_button').click(function() {slideHide()});

    //// set default /////
    $("#party_categories").val(leader0['party']);
    $("#chamber_categories").val(leader0['chamber']);
    fun_makedd(all_filter,'#party_categories','#chamber_categories','party_cat','chamber_car','#leader_select')
    $("#leader_select").val(leader0['bioguide'])
    // change slide  position
    $('.slide').css('top', margin.top)
    $('.slide').css('height', height)

    if (compare==true & leader1 != undefined) {
            $("#party_categories_sec").val(leader1['party']);
            $("#chamber_categories_sec").val(leader1['chamber']);
            fun_makedd(all_filter,'#party_categories_sec','#chamber_categories_sec','party_cat','chamber_car','#leader_select_sec')
            $("#leader_select_sec").val(leader1['bioguide'])
            $('.sec_leader').css('display','block');
            document.getElementById('compare_choice').checked = true;
    }

    $('.scroller').click(function () {
        var fuller = $(this).parent().next('.graph-wrapper');
        $("html, body").animate({
            scrollTop: fuller.offset().top-50
        }, 700);
    });

    $( document ).ready(function() {
            $("html, body").scrollTop(0)
    });

    // Bootstrap Model
    $('#recent_tweet_1').click(function(){
        $('#recent_tweet_model_text').empty();
        if ('recent_tweet_ids' in leader0) {
            for (k in leader0['recent_tweet_ids']) {
                $('#recent_tweet_model_text').append("<p> Tweet ID: <a target='_blank' href="+'https://twitter.com/statuses/'+leader0['recent_tweet_ids'][k]+">"+leader0['recent_tweet_ids'][k]+"</a></p>");
            }
        } else { $('#recent_tweet_model_text').append( "<p>Sorry ! No data has founded</p>" );}
        $('#recent_tweet_model').modal('show');
    });

    $('#recent_tweet_2').click(function(){
        $('#recent_tweet_model_text').empty();
        if ('recent_tweet_ids' in leader1) {
            for (k in leader1['recent_tweet_ids']) {
                $('#recent_tweet_model_text').append("<p> Tweet ID: <a target='_blank' href="+'https://twitter.com/statuses/'+leader1['recent_tweet_ids'][k]+">"+leader1['recent_tweet_ids'][k]+"</a></p>");
            }
        } else { $('#recent_tweet_model_text').append( "<p>Sorry ! No data has founded</p>" );}
        $('#recent_tweet_model').modal('show');
    });

    function make_legend_name(leader) {
        return [capitalizeFirstLetter(leader['chamber'])+'. '+leader['name']+' ('+leader['party'][0].toUpperCase()+'-'+leader['state'].toUpperCase()+')']
    }


    ///////////////////////Function for scrolling and drawing /////////////////////////////////////////////////
    var urls_handler = function(){
        if ($('#urls_chart').isOnScreen()) {
            var numberOfItem = 15;
            compare==true? draw_URLs('compare',data_URLs.splice(0,numberOfItem),data_URLs_2.splice(0,numberOfItem),make_legend_name(leader0),make_legend_name(leader1)):draw_URLs('single',data_URLs.splice(0,numberOfItem),[],make_legend_name(leader0),[]);
            $(window).off("scroll", urls_handler);
        } 
    }

    var hashtags_handler = function(){
        if ($('#hashtags_chart').isOnScreen()) {
            var numberOfWord=100;
            compare==true? draw_Hashtags('compare',data_Hashtags.splice(0,numberOfWord),data_Hashtags_2.splice(0,numberOfWord),make_legend_name(leader0),make_legend_name(leader1)):draw_Hashtags('single',data_Hashtags.splice(0,numberOfWord),[],make_legend_name(leader0),[])
            $(window).off("scroll", hashtags_handler);
        } 
    }

    var timelines_handler = function(){
        if ($('#timelines_chart').isOnScreen()) {
            var numberOfItem = 15;
            compare==true? draw_Timelines('compare',data_Timelines,data_Timelines_2,make_legend_name(leader0),make_legend_name(leader1)):draw_Timelines('single',data_Timelines,[],make_legend_name(leader0),[]);
            $(window).off("scroll", timelines_handler);
        } 
    }


    $.fn.isOnScreen = function(){
        var win = $(window);
        var viewport = {
            top : win.scrollTop(),
            left : win.scrollLeft()
        };
        viewport.right = viewport.left + win.width();
        viewport.bottom = viewport.top + win.height()-100; // footer height
        var bounds = this.offset();
        bounds.right = bounds.left + this.outerWidth();
        bounds.bottom = bounds.top + this.outerHeight();
        return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    };

    // exercutive
    $(document).ready(function(){
        $(window).scroll(timelines_handler);
        $(window).scroll(urls_handler);
        $(window).scroll(hashtags_handler);
    });




    </script>

</body>

{% endblock %}