    body {
        font-size:16px;
        width: 100%;
    }
    .wrap {
    margin-top: 50px;
    margin-bottom: 100px;
    }

    .linedot {
        /*fill: #6bb7c7;*/
        stroke: #fff;
        stroke-width: 3;
    }

    .linedot:hover {
        fill: steelblue;
        cursor: pointer;
    }

    .description {
        font-size: 13px;
        text-align: left;
    }

    .slide {
        position: absolute;
        padding: 30px;
        width: 30%;
        height: 70%;
        background-color: white;
        opacity: 0;
        border-radius: 10px;
        right: -100%;
        /*     color: white;*/
        z-index: 2;
        transition: all 0.2s cubic-bezier(0.71, -0.1, 0.09, 1.07);
        overflow: scroll;
        min-width: 500px;
        -webkit-box-shadow: 10px 10px 34px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 34px 1px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 34px 1px rgba(0, 0, 0, 0.75);
    }

    .popup_button_container {
        display: inline-block;
        margin: 10px 15px;
        float: left;
    }

    .popup_button {

        font-size: .5rem;

        background-color: #1b1f3a;
        height: 40px;
        width: 40px;
        border: 2px solid #ffffff;
        display: block;
        z-index: 100;
        transition: all 0.4s cubic-bezier(0.85, -0.01, 0.21, 1);
        color: white;
        font-size: 20px;
        text-align: center;
    }


    .popup_button:hover {
        cursor: pointer;
        opacity: 0.4;
    }

    .circle_active {
        fill: yellow;
    }

    .wc_text {
        cursor: pointer;
    }

    .wc_active {
        fill: green!important;
        background-color: red
    }


    .areaChart {
        fill: url(#area-gradient);
        opacity: 0.8;
    }


    .areaChart2 {
        fill: url(#area-gradient2);
        opacity: 0.8;
    }

    .d3-tip {
        line-height: 1;
        font-weight: bold;
        padding: 12px;
        background: rgba(0, 0, 0, 0.1);
       /* color: #fff;*/
        border-radius: 2px;
    }
    /* Creates a small triangle extender for the tooltip */

    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 10px;
        width: 100%;
        line-height: 1;
        /*color: rgba(0, 0, 0, 0.8);*/
        content: "\25BC";
        position: absolute;
        text-align: center;
    }
    /* Style northward tooltips differently */

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }

    .sec_leader {
        display: none;
    }


    
    #search {
        /*position: absolute;*/
        position: fixed;
        top: 50px;
        left: 0;
        height: 100%;
        border: 2px solid #ddd;
        z-index: 3;
        /*transform: translateX(-100%);*/
        background-color: #ffffff;
        transition: transform 0.3s, box-shadow 0.3s;
        width: 20%;
    }

    #filter_btm_div {
        position: fixed;
        top: 50px;
        border-radius: 20%;
        margin:20px;
        z-index:2;

    }

    #back_btm {
        display:none;
    }


    #plot {
        margin-top: 50px;
        margin-left: 20%;
        /* Same as the width of the sidenav */
        padding-top: 20px
    }

    .footer {
        color:#777;
        width: 100%;
        height: 100px;
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
        z-index: 20;
        background-color: #f8f8f8;
        border: 1px solid #e7e7e7;
    }

    .navbar {
        position: fixed !important;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    /* for bar */

    .chart {
        margin: 10px;
        padding-top: 10px;
    }

    .chart .right {
        stroke: white;
        /*fill: steelblue;*/
    }

    .chart .left {
        stroke: white;
        /*fill: indianred;*/
    }

    .chart rect:hover {
        fill: #64707d;
    }

    .rightscore .leftscore {
        fill: #24da82;
    }

    .chart text.name {
        fill: black;
    }

    .chart text.title {
        fill: #2216ff;
    }

    .scroller {
        display:block;
        width: 60px;
        height:60px;
        line-height:60px;
       /* border: 2px solid #f5f5f5;*/
        border-radius: 50%;
        color:black;
        text-align:center;
        text-decoration:none;
        background: white;
        box-shadow: 0 0 3px gray;
        font-size:15px;
        font-weight:bold;
        float:left;
        position: absolute;
        left: 50%;
        margin-top:10px;
        transform: translate(-50%,-50%);
        bottom: 0
    }
    .scroller:hover {
        background: gray;
        color:white;
        text-decoration:none;
    }

    .fullscreen {
        position:relative;
        overflow:hidden;
    }

    .bioContainer {
        text-align:center;
        margin: 0px 30px;
    }

    .leaderbio img {
        width:100%;
        max-width: 450px;
        height: auto;
    }

    .leaderTable {
     font-size:20px;
     margin-top:30px;
     width: 100%; 
     text-align:left;
    }
    .leaderTable tr {
         border-bottom:1pt solid black;
    }
    .leaderTable tr td:first-child {
      width: 50%
      font-weight:bold;
    }
    .leaderTable tr td:nth-child(2) {
      width: 50%
    }

    .filter_table {
        margin:20px;
        font-size:18px;
    }

    .filter_table select {
        min-width:100px;
        width:100%;
    }

    .filter_table td {
        padding:5px 1px;
    }

    .graph-wrapper {
        margin:0px;
    }

    .fullscreen {
        border-bottom: 1px solid #ccc;
    }


    .slide_header_table {
        width:100%;
        border-bottom: 1px solid #aaa;
        margin-bottom:20px;
    }

    @media screen and (max-width: 1200px) {

        #search {
            
            transform: translateX(-100%);
            width: 50%;
        }

        #plot {
            margin-left: 40px;
            margin-right: 40px;
        }
        #back_btm {
        display:block;
        }
    }

