{% extends 'base.html' %}

{% block content %}

  <div class="container">

    <p>Name: {{details['id']['name']}}</p>
    <p>Gender: {{details['bio']['gender']}}</p>
    <p>Birth Day: {{details['bio']['birthday']}}</p>
    <p>Religion: {{details['bio']['religion']}}</p>
    <p>State: {{details['terms']['state']}}</p>
    <p>Chamber: {{details['terms']['type']}}</p>
    <p>Party: {{details['terms']['party']}}</p>
    <p>Wiki Data: {{legislator}}</p>
    <p>Recent Tweets:</p>
    <table class="table">
    {% for x in details['recent_tweets_li']%}
    <tr>
    <th>{{ ' '.join(x[0].split()[:3] + [x[0].split()[5]]) if x[0] else 'No recent tweets' }}</th>
    <td> {{ x[1] }} </td>
    </tr>
    {% endfor %}
    </table>

  </div>

{% endblock %}







